.app-container{
    display: grid;
    justify-items: center;
    row-gap: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 16px;
    background-color: #FDFFFB;
    width: 100%;
    margin-bottom: 20px;
}