html{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

button{
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    padding: 0;
}

button:active {
    outline: none;
    box-shadow: none; 
  }

li{
    list-style: none;
}

input{
    border: none;
    outline: none;
}

textarea{
    border: none;
    outline: none;
}