.todo-item{
    display: flex;
    position: relative;
    width: 35%;
    min-width: 288px;
    background-color: #F6FFF4;
    border-radius: 15px;
    padding: 20px 28px 20px 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    
}

.todo-item p{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.icon-check{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 0 12px;
    border: 1px solid #365E32;
}

.todo-check--completed{
    background-color: #365E32;
}

.todo-item--completed{
    text-decoration: line-through;
}

.todo-item--completed .icon-check{
    background-color: #365E32;
}

.icon-delete{
    position: absolute;
    width: 12px;
    height: auto;
    background:none;
    top: 20px;
    right: 12px;
    stroke:#365E32;
}

.icon-delete:hover .icon-svg{
    stroke: red;
}